<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360447827293-lee2gbn9kq270iatrrgflf9sci8f60bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360447827293-lee2gbn9kq270iatrrgflf9sci8f60bs</string>
	<key>API_KEY</key>
	<string>AIzaSyATUoSgGaNOpLwh4xoddFa9zdnQGACVsoY</string>
	<key>GCM_SENDER_ID</key>
	<string>360447827293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glennposadas.kidsgames.whereisabc</string>
	<key>PROJECT_ID</key>
	<string>where-is-abc</string>
	<key>STORAGE_BUCKET</key>
	<string>where-is-abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360447827293:ios:2c99216566f2a47bcfdcb4</string>
</dict>
</plist>